$font-primary: 'Inter', sans-serif;
$font-weight-primary: 400;
$font-weight-bold: 600;
$font-size-primary: 12px;
$font-size-big: 128px;
$font-size-h1: 40px;
$font-size-h3: 20px;
$font-size-h4: 15px;
$font-size-h5: 13px;
