$font-primary: 'Inter', sans-serif;
$font-weight-primary: 400;
$font-weight-bold: 600;
$font-size-primary: 12px;
$font-size-big: 128px;
$font-size-h1: 40px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 16px;
