.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 33px;
  background-color: $primary-bg-color;
  border-bottom: 1px solid $secondary-color;
  z-index: 10;
}

.main {
  margin-top: $header-height;
  min-height: calc(100dvh - $header-height);
}

.fullscreenHeader {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -10000px;
}

.fullscreenMain {
  margin: 0;
  min-height: 100vh;
}
