.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  height: 64px;
  border: none;
}

.error {
  display: block;
  height: 0;
  color: $text-error-color;
  font-size: 10px;
  transition: all 0.3s;
  overflow: hidden;

  &__expanded {
    height: 24px;
  }
}

.main-error {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid $border-error-color;
  border-radius: 10px;
  color: $text-error-color;
}
